h1{
    background-color: #47B5FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;

}

h2 {
    background-color: #47B5FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
 
    
}

body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #DFF6FF;
    background-color: #06283D;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    
    
}

.navegacao{
 
    background-color: #47B5FF;
    margin-bottom: 5%;
    width: auto;
    text-align: center;        
}

.nav-links li{
    display:inline-block;
}

section{
    background-color: #47B5FF;
}

li{}

li:hover{
        background-color: #1363DF;
        align-items: center;
        justify-content: space-between;
}
    
    


main{
 
    display: flex;
    text-align: center;
}

.imagem{
    border-radius: 40%;
    border-style: #47B5FF;;
    width: 250px;

    
}

.main .lateral{
    background-color: #47B5FF;
    float: left;
}

.main .sessao{
 right: 200px;
 background-color: #47B5FF;

}

.button{
    
        background-color:#47b5ff;
        border-radius:auto;
        display:inline-flex;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
    }
    .button:hover {
        background-color:#1365df;
    }
    .button:active {
        position:relative;
        top:1px;
    }
}