h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    border: solid red;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    border: solid red;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    
}

.navegacao{
    border: solid red;
    margin-bottom: 5%;
    width: auto;
    text-align: center;        
}

.nav-links li{
    display:inline-block;
     
     


}

li{}

li:hover{
        background-color: goldenrod;
        align-items: center;
        justify-content: space-between;
}
    
    


main{
    border: solid red;
    display: flex;
    text-align: center;
}

.imagem{
    border-radius: 40%;
    width: 250px;
    border: solid red;
    
}

.main.lateral{
    float: left;
}

.main.sessao{
 right: 200px;
 border: solid red;

}

.button{

}

